<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <!-- Navigation Bar -->



    <div class="container mt-5">
        <h2 class="text-primary">About Us</h2>
        <p>Welcome to our website! We strive to offer every individual customer the best possible PC experience from start to finish no matter what PC they have purchased from us....</p>



        <h3 class="text-info">Our Team</h3>
        <ul class="list-unstyled">
            <li>xxxx xxxxx - CEO</li>
            <li>xxxx xxxxx - COO</li>
        </ul>


        <h3 class="text-info">Who We Are</h3>
        <ul class="list-unstyled">
            <p>ORIGIN PC is a PC company that builds award winning custom PCs for gamers, enthusiasts, and professionals.</p>
        </ul>


        <h3 class="text-info">Contact Us</h3>
        <p>If you have any questions or inquiries, feel free to contact us at <a href="mailto:info@example.com">info@example.com</a>.</p>

        <!-- Contact Us button -->
        <a href="contact" class="btn btn-primary">Contact Us</a>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBud7/gF1MkL7X+E2Zl92w2yTmYFgK0pGkMkQsUwq0eU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6m1LpD5f2F78iGLFDfLs02dmy3O89T/Z" crossorigin="anonymous"></script>

</body>

</html>
